.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  border-bottom: 1px solid lightgray;
  min-height: 80px;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main .title { 
  padding: 0;
  margin: 10px auto;
}

.App-main .url { 
  font-size: small;
}

.upload-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
}

.commands {
  min-width: 360px;
  min-height: 420px;
  /* border: 1px solid red; */
  overflow-y: auto;
  max-height: 640px;
  padding-right: 15px;
  margin: auto 75px;
  
}

.editor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: auto;
  min-width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
